body {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'sans-serif';
    background: #eee;
}

* {
    box-sizing: border-box;
}

.font-italic {
    font-style: italic;
}

.mt-0 {
    margin-top: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-24 {
    margin-bottom: 24px;
}

.fine-list {
    margin: 0;
    padding: 0;
}

.fine-list li {
    list-style-type: none;
    padding: 4px 0;
}

.flex-item {
    display: flex;
    justify-content: space-between;
    padding-top: 4px;
    padding-bottom: 4px;
}

.flex-item h4 {
    margin: 0;
}
#wrapper {
    background: #ccc;
    max-width: 900px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.section-heading {
    margin-bottom: 12px;
    margin-top: 0;
}

#aside {
    flex: 240px 0 0;
    background: #424953;
    color: #fff;
}

.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50rem;
    overflow: hidden;
    margin: 24px;
}

.avatar img {
    width: 100%;
    height: 100%;
}

#aside h4 {
    margin-bottom: 8px;
    margin-top: 0;
    font-size: 0.875rem;
    font-weight: 600;
}

#aside p {
    font-size: 0.875rem;
    margin-top: 0;
    margin-bottom: 16px;
}

.aside-section {
    padding-left: 25px;
}

.section-content {
    padding-right: 16px;
    padding-top: 16px;
    padding-bottom: 16px;
}

#aside hr {
    margin-top: 0;
    margin-bottom: 0;
    border: none;
    background-color: #eee;
    height: 1px;
}

#main {
    flex: auto 1 1;
    background: #fff;
    padding: 24px;
    padding-top: 48px;
}

#main h2,
#main h3 {
    margin: 0;
    color: #333;
}

#main h4 {
    color: #333;
}

#main p {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
}

#main ul {
    margin: 0;
    padding-left: 24px;
}

#main ul li {
    padding-top: 2px;
    padding-bottom: 2px;
    color: #777;
}

#main hr {
    background-color: #ccc;
    border: none;
    height: 1px;
    margin-bottom: 24px;
}
.main-section {
    margin-bottom: 32px;
}

.progress {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    font-size: 0.75rem;
    background-color: #ddd;
    border-radius: 0.25rem;
    min-width: 300px;
    height: 8px;
}

.progress-bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #666;
    transition: width 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
    .progress-bar {
        transition: none;
    }
}
